@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-bg: #1A1A1A;        /* Darkest background color (Black/Dark Gray) */
  --color-secondary-bg: #2C2C2C;      /* Secondary background for sections (Lighter Dark Gray) */
  --color-secondary-text: #A0A0A0;    /* Muted text color (Medium Gray) */
  --color-accent-red: #E33A3A;        /* Vibrant action color (Red) */
  --color-text-white: #F0F0F0;        /* Main text color (Off-White) */
}

@layer base {
  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer component {
  .hero-col {
    @apply flex-col rounded-4xl mx-[2vw] my-[2vh];
  }
}

body {
    font-family: 'Inter', sans-serif;
}

/* Applying Shadow*/
@utility shadow-custom-red {
    @apply shadow-[-8px_12px_4px_0px_rgb(158_40_40)];
}

/* Apply BBH Bartle */
.navbar-header {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Style for the mobile menu transition */
.mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.mobile-menu.active {
    transform: translateY(0);
}

/*
# for id
. for class


Keep for later
sm:w-[20vw] md:w-[25vw] lg:w-[5vw] xl:w-[50vw]

mx-[2vw] my-[2vw]
*/